h1{
  color: blue;
  text-align: center;
}
h2{
  color: green;
  font-style: italic;
  text-align: center;
}
p{
  font-family: sans-serif;
}
ul{
  line-height:40px
}
ol{
  background-color: #CACFD2;
  font-style: italic;
  line-height: 30px;
}
strong{
  font-style: italic;
  text-decoration-style: double;
  color: #BA4A00;
}
em{
  font-style: oblique;
  text-emphasis: bold;
  color: #58D68D;
  font-size: 10px;
  background-color: #7F8C8D;
}
